header{
 	grid-area: cabecera;
 	text-align: center; 
	font-size: 80px;
	background-color: #10B869;
 }
 

 #demo  {
 	grid-area: demo1;
 }

 #demo1 {
 	grid-area: demo2;
 }

 #tablaEscuadron {
	grid-area: tablaEscuadrones;
	text-align: center;
	padding-top: 20px;
 }

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	
	
}

th {
  
  padding: 5px;
  text-align: center;
  background-color: #ccc;
  color: black;
}

th:hover{
	background-color: red;
	color: white;
}

main {
 	display: grid;
 	grid-template-areas:
 	'cabecera cabecera cabecera cabecera cabecera cabecera'
    'demo1 demo1 demo1 demo2 demo2 demo2'
    'tablaEscuadrones tablaEscuadrones tablaEscuadrones tablaEscuadrones tablaEscuadrones tablaEscuadrones'
    
  
 }

 main > * {
  
}

@media screen and (max-width: 750px){

	main {
 	display: grid;
 	grid-template-areas:
 	'cabecera cabecera cabecera cabecera cabecera cabecera'
    'demo1 demo1 demo1 demo1 demo1 demo1'
    'demo2 demo2 demo2 demo2 demo2 demo2'
    'tablaEscuadrones tablaEscuadrones tablaEscuadrones tablaEscuadrones tablaEscuadrones tablaEscuadrones'
    
  
}
}
